
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Report Login Form Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="~/24-news/css/StyleSheet3.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Mvc Blog Yazar Girişi</h1>
        <div class="container">
            <!-- /form -->

            <div id="login-button">
                <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
                </img>
            </div>
            <div id="container">
                <h1>Log In</h1>


                <form method="post">
                    <input type="email" name="Mail" id="mail" placeholder="E-mail">
                    <input type="password" name="Password" id="password" placeholder="Şifrenizi giriniz">
                    <a onclick="redirect(this,'/Login/AuthorLogin')" href="#">Log in</a>
                    <div id="remember-container">
                        <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                        <span id="remember">Remember me</span>
                        <span id="forgotten">Forgotten password</span>
                    </div>
                </form>
            </div>

            <!-- Forgotten Password Container -->
            <div id="forgotten-container">
                <h1>Forgotten</h1>
                <span class="close-btn">
                    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
                </span>

                <form>
                    <input type="email" name="email" placeholder="E-mail">
                    <a href="#" class="orange-btn">Get new password</a>
                </form>
            </div>
        </div>
        <!-- //form -->
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
    <script src="~/24-news/js/JavaScript.js"></script>
</body>

</html>

