@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<h2>BlogList</h2>

<br/>
<table>
    <tr>
        <th>ID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
        </tr>
    }
</table>